<h2 mat-dialog-title>Add Invoice</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-container" [formGroup]="invoiceFC" enctype="multipart/form-data" (ngSubmit)="update(editData)">
    <mat-form-field>
      <input matInput type="text" formControlName="inv_number" placeholder="Invoice Number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Item</mat-label>
      <mat-select name="items" formControlName="items" required>
        <mat-option *ngFor="let i of items" [value]="i.id">
          {{i.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <label>Status: </label>
      <mat-checkbox formControlName="status">Active</mat-checkbox>
    </div>
    <mat-form-field>
      <mat-label>Customer</mat-label>
      <mat-select name="customer" formControlName="customer" required>
        <mat-option *ngFor="let c of customer" [value]="c.id">
          {{c.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="currency" placeholder="Currency" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="total_price" placeholder="Total Price" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="balance" placeholder="Balance" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="date" formControlName="due_date" placeholder="Due Date" required>
    </mat-form-field>
    
    <mat-dialog-actions align="end">
      <button type="submit" mat-button color="primary">Update</button>
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
