<div class="csmr-table-actions table-actions">
  <button mat-raised-button mat-button (click)="openDialog(null)">Add</button>
</div>
<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" 
  matSort matSortActive="id"
  matSortDisableClear
  matSortDirection="desc">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ readableColumns[column] }} </th>
    <td mat-cell *matCellDef="let element"> <span *ngIf="column != 'id'">
      <span *ngIf="column != 'due_date'">{{element[column]}}</span>
      <span *ngIf="column == 'due_date'">{{element[column] | date: 'MMM d, y'}}</span>
    </span>
      <button *ngIf="column == 'id'" mat-raised-button mat-button (click)="openDialog(element, 'e')" align="end" tabindex="-1">Edit</button>
      <button *ngIf="column == 'id'" mat-raised-button mat-button (click)="delete(element)" align="end" tabindex="-1">Delete</button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="element-description">
          <div *ngIf="loading">Loading....</div>
          
          <div *ngIf="!loading">
            <div *ngIf="invItems.length == 0">
              <p style="color: sandybrown;">
                <strong>Warning!</strong> Item not found.
              </p>
            </div>
            <table *ngIf="invItems.length > 0" mat-table [dataSource]="invItems" multiTemplateDataRows class="mat-elevation-z8" matSort matSortActive="id"
              matSortDisableClear matSortDirection="desc">
              <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedItemColumns">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ readableItemColumns[column] }} </th>
                <td mat-cell *matCellDef="let element"> <span *ngIf="column != 'id'">
                    <span *ngIf="column != 'created_at'">{{element[column]}}</span>
                    <span *ngIf="column == 'created_at'">{{element[column] | date: 'MMM d, y'}}</span>
                  </span>
                  <button *ngIf="column == 'id'" mat-raised-button mat-button (click)="openDialog(element, 'e')" align="end"
                  tabindex="-1">Edit</button>
                </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedItemColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedItemColumns;"></tr>
              <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
            </table>
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
    [class.expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : loadItems(element)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
</table>