table, .element-description {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.element-detail {
  min-height: 100px;
}
.mat-elevation-z1.items{
  width: 100%;
}
.preview-inv > div:nth-child(1){
  width: 30%;
  float: left;
  padding: 10px;

}

.preview-inv > div:nth-child(2){
  width: 70%;
  float: right;
  padding: 10px;

}
.items-inv > div:nth-child(1){
  width: 30%;
  float: left;
  padding: 10px;
}

.items-inv > div:nth-child(2){
  width: 70%;
  padding: 10px;
  float: right;
}

.steps-action
{
  width: 100%;
  float: right;
}
