<full-calendar [options]="calendarOptions"></full-calendar>

<hr>
<br>
<div class="row mat-typography">
  <div class="col-auto">
    <mat-form-field>
      <mat-label>Start</mat-label>
      <input matInput [max]="(endDate)? endDate.value : ''" [matDatepicker]="pickerStart"
        [formControl]="startDate" [value]="startDate.value">
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>  
  </div>
  <div class="col-auto">
    <mat-form-field>
      <mat-label>End</mat-label>
      <input matInput [min]="(startDate)? startDate.value : ''" [matDatepicker]="pickerEnd"
        [formControl]="endDate" [value]="endDate.value">
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-auto">
    <button class="bg-info text-white" mat-raised-button mat-button (click)="customDate()">Apply</button>
    <button class="bg-primary text-white m-1 btn-sm" mat-raised-button mat-button (click)="changeChartCurr()" title="Change to {{ (chartCurr == 'USD')? 'AF' : 'USD'}}">{{chartCurr}}</button>
    <button class="bg-primary text-white m-1 btn-sm" mat-raised-button mat-button (click)="exportPayments()">Export Payments</button>
    <button class="bg-primary text-white m-1 btn-sm" mat-raised-button mat-button (click)="exportchart()">Export Char</button>
  </div>
</div>

<div style="display: block;">
  <canvas baseChart 
    [datasets]="barChartData" 
    [labels]="barChartLabels" 
    [options]="barChartOptions"
    [plugins]="barChartPlugins" 
    [legend]="barChartLegend" 
    [chartType]="barChartType">
  </canvas>
</div>
