<div class="container">
    <mat-card class="col-md-6 offset-md-3 mt-5">
        <span class="float-right" (click)="loginActionToggle()">
            <a mat-button *ngIf="!loginAction">Login</a>
            <a mat-button *ngIf=" loginAction">Register</a>
        </span>
        <form *ngIf="loginAction" [formGroup]="authForm" (ngSubmit)="authentication()">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Financial Management</mat-card-title>
                <mat-card-subtitle>Use your credentioals</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <input type="text" formControlName="username" required placeholder="Username" matInput />
                </mat-form-field>
                <mat-form-field>
                    <input type="password" formControlName="password" required placeholder="Password" matInput />
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button type="submit" mat-button>Login</button>
                <button mat-button>Forgot password?</button>
            </mat-card-actions>
            <div class="animated fadeIn" *ngIf="message">
                <div class="alert alert-{{ message.type }}" role="alert">
                    {{ message.text }}
                </div>
            </div>
        </form>
        <form *ngIf="!loginAction" [formGroup]="authForm" (ngSubmit)="authentication()">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Financial Management</mat-card-title>
                <mat-card-subtitle>Create Your Account</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <input type="text" formControlName="username" placeholder="Username" required matInput />
                </mat-form-field>
                <mat-form-field>
                    <input type="email" placeholder="Email" autocomplete="email" required matInput />
                </mat-form-field>
                <mat-form-field>
                    <input type="password" formControlName="password" placeholder="Password" autocomplete="new-password"
                        required matInput />
                </mat-form-field>
                <mat-form-field>
                    <input type="password" placeholder="Repeat password" autocomplete="new-password" required
                        matInput />
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions>
                <button type="submit" mat-button>Create</button>
            </mat-card-actions>
            <div class="animated fadeIn" *ngIf="message">
                <div class="alert alert-{{ message.type }}" role="alert">
                    {{ message.text }}
                </div>
            </div>
        </form>
    </mat-card>

</div>