<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<!-- Card column -->
	<div fxFlex.gt-sm="100%" fxFlex="100">
		<mat-card>
			<mat-card-content class="m-b-0">
				<mat-card-title>Tab group animations <span class="bg-success text-white rounded font-12 pl-5 pr-5">New</span></mat-card-title>
				<mat-card-subtitle>If you want to align the tab labels in the center or towards the end of the container, you can do so using the <code>[mat-align-tabs]</code> attribute.</mat-card-subtitle>
			</mat-card-content>
			<div class="p-l-20 p-r-20 p-b-20">
				<h5 class="m-0">No animation</h5>
				<mat-tab-group animationDuration="0ms">
                  <mat-tab label="View">Content 3</mat-tab>
				  <mat-tab label="Edit">Content 1</mat-tab>
				  <mat-tab label="Delete">Content 2</mat-tab>
				</mat-tab-group>
			</div>			
		</mat-card>    
	</div>
</div>