/* You can add global styles to this file, and also import other style files */
.company-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.ngb-toasts .toast:not(:last-child){
    display: none !important;
}

.mat-button[disabled], .mat-flat-button[disabled], .mat-icon-button[disabled], .mat-stroked-button[disabled]{
    cursor: not-allowed !important;
}