<h2 mat-dialog-title>Add Customer</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-container" [formGroup]="customerFC" enctype="multipart/form-data" (ngSubmit)="update(data)">
    <mat-form-field>
      <input matInput autocomplete="off" type="text" formControlName="label" placeholder="Label">
    </mat-form-field>
    <mat-form-field>
      <input matInput autocomplete="off" type="textarea" formControlName="owner" placeholder="Owner" required>
    </mat-form-field>
    <div>
      <label>Status: </label>
      <mat-checkbox formControlName="status">Active</mat-checkbox>
    </div>
    <mat-form-field>
      <input matInput autocomplete="off" type="number" formControlName="phone" placeholder="Phone" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput autocomplete="off" type="email" formControlName="email" placeholder="Email" required>
    </mat-form-field>
    <mat-dialog-actions align="end">
      <button type="submit" mat-button color="primary">Update</button>
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
